{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <ul class="posts">
        {{ range .Data.Pages }}
        <li>
          <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "January 2, 2006" }}</time>
      {{ if isset .Params "tags" }}
      <br/>
      {{ range .Params.tags }}<a class="label" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}


          </span>
        </li>
        {{ end }}
    </ul>
  </div>
</body>
</html>
